
.open-sans-normal-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* sherde style */
 .text-primary{
    color: #FD6E0A;
 }
.dark1{
    color: #181818;
}
 .dark2{
    color: #474747;
 }
 .btn-primary{
    background-color:#FD6E0A;
    color: #ffff;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
 }

 .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 25px;
 }
 .section-description{
  font-size: 16px;
  font-weight: bold;
  color: #757575;
 }

 .cv-description{
  color: #757575;
  font-size: 14px;
}
.padd{
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D1D1D1;
}

.ehead{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

 .background{
  background-color: #FFF8F3;
 }
 .text-aling{
  text-align: center;
 }

 /* header style */
 .header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-size:contain;
 }

 /* Nav styles */
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
    padding-top: 20px;
  }
  .nav-title{
    font-size: 36px;
    font-weight: 800;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav ul li{
    list-style: none;
    margin-right: 50px;
  }
  nav li a {
    text-decoration: none;
    font-size: 18px;
  }


  /* banner section start */

  .banner-subtitle{
    font-size: 30px;
    font-weight: 600;
  }
  .banner-title{
    font-size: 45px;
    font-weight: bold;
  }

  .banner-description{
    font-size: 18px;
    color: #757575;
  }
  .banner-img{
    width: 350px;
    margin-top: 80px;
  }
  .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 25px 0px 80px;
  }
  .content{
    width: 485px;
  }

  /* main style */
  main{
    width: 800px;
    margin: 0 auto;
  }

  /* about section */
  .about{
    border-radius: 8px;
    padding: 100px 100px;
    text-align: center;
    margin-top: 80px;
  }
  .about-items{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  .item-description{
    font-weight: bold;
    padding-top: 5px;
  }

  /* Skills section start */
  .skills{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .skill{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
  }
  .skill-item{
    /* margin: 8px; */
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  .skill-item img{
    margin: 10px 20px;
  }
  .skill-item h4{
    padding-left:20px ;
  }
  .skill-item p{
    padding: 15px  0px 10px 20px;
  }

  /* cv section start */
  .cv{
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .cv-ee{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .btn2{
    text-align: center;
   margin-top: 40px;
  }

  /* foot section start */
  .footer{
    padding: 100px 100px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  
  .foot1 img{
    padding-top: 40px;
  }

  .foot2 input,textarea{
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #474747;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 5px;
  }
  .tett{
   max-width:500px ;
   max-height: 150px;
   min-width: 500px;
   min-height: 150px;
   padding-top: 20px;
  }